body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.root{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(30, 176, 147);
    width:35%;
    aspect-ratio: 1 / 1;
}

.boxes{
    width:calc(100%/4);
    aspect-ratio: 1 / 1;
    background-color: rgb(176, 142, 142);
    border: 1px black solid;
    box-sizing: border-box;
}